table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
}

td, th {
        border: 2px solid #dddddd;
        text-align: center;
        padding: 8px;
}

div {
       margin : 0 auto;
       width:50%;
}

input[type=text] {
    width : 50%;
}

input[type=submit] {
    width : 20%;
}